.venv
tryout_scripts/genism_tryout.py
tryout_scripts/flair_tryout.py
tryout_scripts/pyresparser_tryout.py
tryout_scripts/modeling_tryout.py
tryout_scripts/functions_tryout.py
tryout_scripts/cv_dataframe_tryout.py